.nav {
  list-style: none;
}

.nav li {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
}

.nav-title {
  text-align: center;
}

.home-image-rows {
  margin-top: 30px;
  text-align: center;
}

.home-card {
  background-color: rgb(115, 113, 68) !important;
  text-align: center;
  margin: 20px;
  padding: 20px;
  height: auto;
}

.logo-container img {
  max-width: 100px;
  justify-content: center;
}

.logo-container-individual {
  justify-content: center;
  display: flex;
}

.logo-grid {
  margin: 20px;
  
}

.map-title {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.footer-socials img {
  max-width: auto;
  max-height: 40px;
}

.footer-socials {
  justify-content: center;
  display: flex;
  align-items: center;
}

.footer-button-group button{
  margin: 10px;
  background-color:rgb(115, 113, 68);
}

.footer {
  background-color:rgb(41, 41, 41);
  display: flex;
  position: absolute;
  width: 100%;
}

.home-img-1 {
  padding: 10px;
  height: 600px;
  width: auto;
}

.home-img-2 {
  padding: 10px;
  height: 400px;
  width: auto;
}

.home-img-phonenumber {
  height: 50px;
  width: auto;
}

.nav-logo {
  width: auto;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer img {
  width: auto;
  height: 50px;
}

.page-title {
  text-align: center;
}


.services-accordion {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  margin-bottom: 200px;
}

.accordion-title {
  font-size: 20px !important;
  color:rgb(115, 113, 68);
}

.accordion-description {
  font-size: 18px !important;
}

#panel1a-header {
  background-color:rgb(213, 213, 213);
}

.accordion-details {
  background-color:rgb(115, 113, 68)
}

.services {
  text-align: center;
}
